html {
    background-color: gray;
}

body {
    background-color: white;
    padding: 10px 150px 40px;
    margin: auto;
    width: 600px;
    font-family: "Courier New";
}

.formula-box {
    border: 1px solid black;
    padding: 20px 10px;
    font-size: 40px;
    font-family: "Arial";
    letter-spacing: 8px;
}

h1 {
    word-spacing: 7px;
}

button#btn {
    font-size: 18px;
}